In [1]:
import pandas as pd

In [2]:
data = [[1, 'aLice'], [2, 'bOB']]
users = pd.DataFrame(data, columns=['user_id', 'name']).astype({'user_id':'Int64', 'name':'object'})

In [4]:
users

   user_id   name
0        1  aLice
1        2    bOB

In [6]:
users['name'] = users['name'].str.capitalize()

In [8]:
users

   user_id   name
0        1  Alice
1        2    Bob

In [9]:
users.sort_values('user_id')

   user_id   name
0        1  Alice
1        2    Bob