In [1]:
import pandas as pd

In [2]:
data = [[1, 1], [2, 2], [3, 3], [4, 3]]
orders = pd.DataFrame(data, columns=['order_number', 'customer_number']).astype({'order_number':'Int64', 'customer_number':'Int64'})

In [3]:
orders

   order_number  customer_number
0             1                1
1             2                2
2             3                3
3             4                3

In [4]:
def largest_orders(orders: pd.DataFrame) -> pd.DataFrame:
    customer_order_counts = orders.groupby('customer_number')['order_number'].count()
    max_orders = customer_order_counts.max()
    top_customers = customer_order_counts[customer_order_counts == max_orders].reset_index()
    return top_customers[['customer_number']]

In [6]:
largest_orders(orders)

   customer_number
0                3