In [23]:
import pandas as pd

In [24]:
data = [[1, 100], [2, 200], [3, 300]]
employee = pd.DataFrame(data, columns=['Id', 'Salary']).astype({'Id':'Int64', 'Salary':'Int64'})

In [25]:
employee

   Id  Salary
0   1     100
1   2     200
2   3     300

In [26]:
import pandas as pd

def nth_highest_salary(employee: pd.DataFrame, N: int) -> pd.DataFrame:
    distinct_salaries = employee['salary'].drop_duplicates().sort_values(ascending=False).reset_index(drop=True)
    
    if 0 < N <= len(distinct_salaries):
        salary = distinct_salaries.iloc[N-1]  
    else:
        salary = None
    
    return pd.DataFrame({f'getNthHighestSalary({N})': [salary]})

In [27]:
data = {'id': [1, 2, 3], 'salary': [100, 200, 300]}
employee = pd.DataFrame(data)


nth_highest_salary(employee, 2)

   getNthHighestSalary(2)
0                     200