In [1]:
import pandas as pd

In [2]:
data = [[1, 'Daniel', 'YFEV COUGH'], [2, 'Alice', ''], [3, 'Bob', 'DIAB100 MYOP'], [4, 'George', 'ACNE DIAB100'], [5, 'Alain', 'DIAB201']]
patients = pd.DataFrame(data, columns=['patient_id', 'patient_name', 'conditions']).astype({'patient_id':'int64', 'patient_name':'object', 'conditions':'object'})

In [3]:
patients

   patient_id patient_name    conditions
0           1       Daniel    YFEV COUGH
1           2        Alice
2           3          Bob  DIAB100 MYOP
3           4       George  ACNE DIAB100
4           5        Alain       DIAB201

In [4]:
patients = patients[patients['conditions'].str.contains(r'(^|\s)DIAB1\w*(\s|$)', case=False, na=False)]

C:\Users\Arshad Ziban\AppData\Local\Temp\ipykernel_25300\878352400.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  patients = patients[patients['conditions'].str.contains(r'(^|\s)DIAB1\w*(\s|$)', case=False, na=False)]

In [5]:
patients

   patient_id patient_name    conditions
2           3          Bob  DIAB100 MYOP
3           4       George  ACNE DIAB100