In [1]:
import pandas as pd

In [2]:
data = [['2020-05-30', 'Headphone'], ['2020-06-01', 'Pencil'], ['2020-06-02', 'Mask'], ['2020-05-30', 'Basketball'], ['2020-06-01', 'Bible'], ['2020-06-02', 'Mask'], ['2020-05-30', 'T-Shirt']]
activities = pd.DataFrame(data, columns=['sell_date', 'product']).astype({'sell_date':'datetime64[ns]', 'product':'object'})

In [3]:
activities

   sell_date     product
0 2020-05-30   Headphone
1 2020-06-01      Pencil
2 2020-06-02        Mask
3 2020-05-30  Basketball
4 2020-06-01       Bible
5 2020-06-02        Mask
6 2020-05-30     T-Shirt

In [5]:
def find_product_sales(activities: pd.DataFrame) -> pd.DataFrame:
    grouped = activities.groupby('sell_date')['product'].agg(lambda x: ','.join(sorted(set(x)))).reset_index()
    
    grouped['num_sold'] = grouped['product'].apply(lambda x: len(x.split(',')))
    
    grouped = grouped[['sell_date', 'num_sold', 'product']].sort_values(by='sell_date')
    
    return grouped

In [6]:
find_product_sales(activities)

   sell_date  num_sold                       product
0 2020-05-30         3  Basketball,Headphone,T-Shirt
1 2020-06-01         2                  Bible,Pencil
2 2020-06-02         1                          Mask